@import "tailwindcss";

body {
  background-color: rgb(241, 245, 241);
}

.underline-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: green;
  transition: width 0.3s ease;
}

.underline-animation:hover::after {
  width: 100%;
}
